# サイトの設定
NEXT_PUBLIC_WEBSITE_TITLE="サイトタイトル" 
NEXT_PUBLIC_WEBSITE_DESCRIPTION="サイト説明文" 

# 適用するDB
DB=

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Next.Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ブログのログイン
ADMIN_USERNAME=
ADMIN_PASSWORD=
