# サイトの設定
NEXT_PUBLIC_WEBSITE_TITLE="サイトタイトル" 
NEXT_PUBLIC_WEBSITE_DESCRIPTION="サイト説明文" 
NEXT_PUBLIC_HEADER_IMAGE="true" ## trueと記載の場合のみHEADER画像を表示

# 適用するDB
DB=

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Next.Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=


# ブログのログイン
## ここに記載した下記の情報がログイン時に必要な情報となります。
ADMIN_USERNAME=
ADMIN_PASSWORD=


